
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>


    <div>
        <h3>Форма оформлення покупки</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.CarId" name="CarId" />
            <table>
                <tr>
                    <td><p>Введіть своє им'я </p></td>
                    <td><input type="text" name="Person" /> </td>
                </tr>
                <tr>
                    <td><p>Введіть адресу :</p></td>
                    <td>
                        <input type="text" name="Address" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Відправити" /> </td><td></td></tr>
            </table>
        </form>
    </div>

</html>
